

<div id = "home">
  <div class="video-background">
    <div class="video-wrap">
      <div id="video">
        <video id="bgvid" playsinline autoplay muted loop>
          <source src="../../../../assets/public/html/img/courses.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>


  <div class="caption text-center text-light text-uppercase">
    <h1 class="font-weight-bold"> Cour<span style="color: #F0b554">sense</span> </h1>
    <h3> Where You Go For Courses </h3>
    <a [routerLink]="['/search']"class="btn btn-outline-light btn-lg rounded-10 os-animation" data-animation="fadeInUp" data-delay="1s"> Let's Search </a>
  </div>
</div>



<!-- -------- Popular ------- -->

<!-- ------- WHY US ------- -->

<div id="whyus" class="offset">
  <div class="jumbotron">
    <div class="os-animation" data-animation="fadeInUp">

      <h3 class="heading3"> Why Us </h3>
      <div class="heading-underline"></div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <h4 class="heading4"> We Got The Best Reviews </h4>
        <div class="text">
          <p> No matter what you are looking for, Coursense has a review for you.
            Whether it's a course for a new career a hobby you have always wanted
            to take up or a skill to help you advance in your career - there's no
            denying that we've got the highest quality reviews for everything.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <h4 class="heading4"> We Are All Pros </h4>
        <div class="text">
          <p> When reviewing courses, we scour databases from experts in the field
            to find the most qualified reviewers From there, they consider course
            quality, how easy it is to follow and its value for money.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>
