
{{> navbarP}}

<div class = "userProfile offset" id="profile">
    <div class="modal-body row">
        <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class = "username">
                <div class = "profilePicture text-center">
                    <img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt = "profile picture"
                         class = "rounded-circle img-fluid ">
                </div>
                <div class = "displayName">
                    <h1 class = "text-center title">display name{{display_name}}</h1>
                </div>
                <div class = "subtitle">
                    <h2 class = "text-center subtitle">email{{email}}</h2>
                </div>
            </div>

        </div>
        <!--lines-->
        <hr class="solid">
        <!--/lines-->
        <div class = "col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class = "subtitle">
                <h2 class="text-center subtitle">User Bio</h2>
            </div>
            <div class = "paragraph">
                <p class="paragraph">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
                </p>
            </div>
        </div>
    </div>


</div>