<!--NASLOV COURSA-->
<div *ngIf="course">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 naslov"><h1 id="zacetek"><strong>{{ course.title }}</strong></h1>
    </div>

    <div class="prazni col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 ">
    </div>

    <!--NASLOV AVTORJA-->
    <div class = "col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 lead avtor" *ngFor="let author of course.authors">
      <a><h2>Authors:</h2><br>{{author}}</a>
    </div>
  </div>
  <!--image-->
  <div class = "slika ">
    <span class="">
      <img src="../../../../assets/public/images/{{course.image}}.jpg">
    </span>
  </div>
  <div class="row tagi">
    <div class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 posamezenTag"><p> Price: {{course.price}} $</p> </div>
  </div>
  <div class="row tagi">
    <div class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 posamezenTag"><p> Average Ratting: {{course.avg_rating}}</p> </div>
  </div>
  <!-- DESCRIPTION -->
  <div class="lead description col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
    <p>
      {{course.description}}
    </p>
  </div>
  <!-- TAGS -->
  <div class="keywords" *ngFor="let keyword of course.keywords">
    <div class="spodnjiPosamezenTag"><p>{{keyword}}</p></div>
  </div>

  <div class="linija"><hr></div>

  <!-- RATINGS AND REVIEWS -->
  <div class="naslovRatings"><p>Ratings & Reviews</p></div>

  <!-- REVIEWS -->
  <ul class="seznamReview" *ngFor="let reviews of course.reviews">
    <li class="pokazan">
      <div class="review">

        <div class="ocenaInIme">
          <div class="imeReviewerja">
            <p>{{reviews.author}}</p>
          </div>
          <div class="ocenaReviewerja">
            <br>
            Ratting: {{reviews.rating}}
          </div>

        </div>
        <div class="opisReviewa">
          <p>
            {{reviews.body}}
          </p>
          <i
                  *ngIf="canDeleteReview(reviews)"
                  class="fa-solid fa-trash-can text-primary show-pointer ms-4"
                  (click)="deleteReview(reviews._id)"
          >Delete Review</i>
        </div>

      </div>
    </li>
  </ul>

  <div class="gumbDiv">
    <button type="button" class="btn lead gumbShowReviews">See all reviews</button>
  </div>

  <div class="linija"><hr></div>



  <div [ngSwitch]="isLoggedIn()">
    <a
            *ngSwitchCase="true"
            class="btn btn-outline-light pull-right btn-md gumbObjavi"
            (click)="openModal(commentForm)"
    ><i></i
    ><span>Add Review</span></a
    >
    <a
            *ngSwitchDefault
            routerLink="/login"
            class="btn btn-outline-light pull-right btn-md gumbObjavi"
    ><i></i
    ><span>Login to add Review</span></a
    >

  </div>


  <div class="linija"><hr></div>
</div>



<ng-template #commentForm>

  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <i class="fa-regular fa-comment-dots pe-2"></i>Add Review
    </h4>
    <button type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="reviewUserja">
    <div class="alert alert-dark p-2" [hidden]="!formDataError">
      <i class="fa-solid fa-triangle-exclamation pe-2">{{ formDataError }}</i>
    </div>

    <div class="ocenaInIme">
      <div class="imeUserja" >
        <p>User name</p>
      </div>
    </div>
    <form>
      <div class="form-group reviewText">
        <textarea class="form-control" [(ngModel)]="newReview.rating" [ngModelOptions]="{standalone: true}"  rows="1" placeholder="Add Rating"></textarea>
      </div>

      <div class="form-group reviewText">
        <textarea class="form-control" [(ngModel)]="newReview.body" [ngModelOptions]="{standalone: true}"  rows="3" placeholder="Add Review"></textarea>
      </div>
      <button type="button" class="btn btn-outline-dark gumbObjavi" (click)="addNewReview()">
        Submit Review
      </button>
      <button type="button" class="btn btn-outline-dark gumbObjavi" (click)="spellcheck()">
        Check for any spelling errors!
      </button>
    </form>
  </div>


</ng-template>